/* brand */
.sidebar-logo {
    max-width: 80px;
}
.sidebar-brand-text {
    font-size: 14px;
    padding: 0;
    margin: 10px 0;
}

/* theme icon buttons - invert color because they're on our blue background instead of white/black */
.content-icon-container button {
	filter: invert(100%);
}

/* discord link in footer */
.discord-link {
	font-size: 14px;
}
.discord-link svg {
	vertical-align: -4px;
	margin-left: 2px;
}

/* blue background top header */
h1 {
    padding: 5px 15px;
    background-color: #007aff !important; /* override :target highlighting */
    color: #fff;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: -10px;
}

/* re-style jamie's :title: "thing" highlighting */
cite {
    font-weight: bold;
    font-style: normal;
}

/* license disclaimer in footer */
.footer-disclaimer {
	margin-top: 30px;
	padding: 10px;
	border: 1px solid #0004;
	color: #999;
}

/* Hide the "Made with" text, but show the copyright and last-updated */
.bottom-of-page .left-details { font-size: 0; }
.bottom-of-page .left-details .copyright { font-size:12px; }
.bottom-of-page .left-details .last-updated { font-size:12px; }

/* custom [tags] for examples etc */

.example-tag {
    font-size:14px;
    padding: 2px 5px;
    background-color: #c0c0c0;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}

.constructor-tag {
    font-size:14px;
    padding: 2px 5px;
    background-color: #fbff68;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}

.instance-method-tag {
    font-size:14px;
    padding: 2px 5px;
    background-color: #00cc11;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}

.static-method-tag {
    font-size:14px;
    padding: 2px 5px;
    background-color: #e6a20f;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}

.instance-properties-tag {
    font-size:14px;
    padding: 2px 5px;
    background-color: #e6a20f;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}
