/* main document page: ensures pages fit to the available width and height */
.wy-nav-content {
    min-width: 100%;
    min-height: 100vh;
}

/* Accessibility: Artifex color for main document links */
.wy-nav-content a {
    color: #007aff;
}

/* Artifex blue color for background elements */
.wy-side-nav-search, .wy-nav-top {
    background-color: #007aff;
}

/* Accessibility: ensures that the version number is readable against the background color */
.wy-side-nav-search>div.version {
    color:hsla(0,0%,100%,1);
}

.htmltag {
    padding: 2px 5px;
    background-color: #fbff68;
    border-radius: 4px;
    border: 1px solid #222;
    color:#000;
}

.discordLink {
    display:flex;
    justify-content:flex-end;
    margin:0;
    padding:0;
    font-size: 13px;
}

.discordLink img {
    width: 30px;
    height: 30px;
    margin-left: 8px;
}

.feedbackLink {
    display:flex;
    justify-content:flex-end;
    margin:0 0 10px;
    padding:0;
    font-size: 13px;
}

.intro-title {
    font-size: 22px;
    margin: 0 0 20px 0;
}

h1 {
    padding: 10px !important;
    background-color: #007aff !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin-top: 20px !important;
    margin-left: -10px !important;
}

cite {
    font-weight: bold;
    font-style: normal;
}

.red-color {
    color: #cc0000;
}

.orange-color {
    color: #ff6600;
}

.green-color {
    color: #00cc00;
}

button.cta {
    -webkit-appearance: none;
    -moz-appearance: none;
    border:0;
    text-transform:uppercase;
    border-radius:5px;
    font-size:16px;
    font-weight:500;
    min-height:40px;
    line-height:40px;
    padding: 0 15px;
    color:#fff;
    cursor:pointer;
}

button.cta.orange {
    width:auto;
    background-image: linear-gradient(to right, #ea5842, #ec6343, #ed6d45, #ef7747, #f0804a) !important;
}

button.cta.orange:hover {
    background:#ea5842 !important;
}

button.cta a {
    color:#fff !important;
}

.footer-version {
    font-weight: bold;
    font-size: 12px;
    color: #999;
}


/*** Furo theme overrides ***/
/* This is to do with hiding the Furo link text and the "Made with" text */
.bottom-of-page .left-details {
    font-size:0;
}

.bottom-of-page .left-details a {
    display:none;
}

/* Now ensure that the other copyright text is visible here */
.bottom-of-page .left-details > * {
    font-size:12px;
}

.sidebar-brand-text {
    font-size: 13px;
    padding: 0;
    margin: 0;
}

.sidebar-logo {
    width: auto;
    height: 60px;
}

.sidebar-container {
    margin: 0;
    padding: 0;
}


.sidebar-search-container.top {
    /*position:sticky;
    top:10px;*/
    border-radius: 20px;
    border: solid #333 1px;
    /*background-color: #fff;*/
}

.sidebar-search-container.top .sidebar-search {
    border-top: 0 !important;
    border-bottom: 0 !important;
}

.sidebar-drawer .sidebar-search-container {
    width: 95%;
}

.toc-drawer .toc-title {
    font-weight: bold;
    text-decoration: underline;
}

:target>h1:first-of-type, span:target~h1:first-of-type {
    background-color: #007aff !important;
    color: #fff !important;
    padding-top: 40px; /* accommodates header search blocking target */
    margin-top: -40px;
}


:target>h2:first-of-type, :target>h3:first-of-type,
:target>h4:first-of-type, :target>h5:first-of-type, :target>h6:first-of-type,
span:target~h2:first-of-type, span:target~h3:first-of-type,
span:target~h4:first-of-type, span:target~h5:first-of-type, span:target~h6:first-of-type {
    background-color: transparent !important;
    padding-top: 40px; /* accommodates header search blocking target */
    margin-top: -40px;
    text-decoration: underline;
}



/** feedback at bottom */
#feedbackHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 40px 0 200px;
}

.feedback-btns {
    display: flex;
    gap: 16px;
}

.feedback-btns button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border:0;
    border-radius:5px;
    font-size:16px;
    font-weight:500;
    padding: 0 15px;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 30px;
    background-color: transparent;
    padding: 0 16px 0 16px;
}

.feedback-btns button.selected, .feedback-btns button.selected:hover  {
    background: #007aff;
}

#feedbackArea {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 350px;
    height: 120px;
}

#feedbackArea .feedback-text {
    background: transparent;
    width: 100%;
    height: 100%;
}

#feedbackArea .feedback-text:focus {
    outline: none;
}

#feedbackArea .textarea-btns {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

#feedbackArea .close-btn {
    background-color: transparent;
    border: none;
}

#feedbackArea .close-btn:hover {
    color: #007aff;
}

input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  text-decoration: none;
  margin: 10px 0 0 0;
  padding: 5px 20px;
  cursor: pointer;
  background: #007aff;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}


/* small screens */
@media all and (max-width : 550px)  {
    .discordLink img {
        display: none;
    }
}

/* see:  https://pydata-sphinx-theme.readthedocs.io/en/stable/user_guide/styling.html#color-variables */
html[data-theme="light"] {
    --pst-color-background: #FFF;
    --pst-color-on-background: #FFF;

    .feedback, footer .footer-item .copyright, footer .footer-item .copyright a {
        color:#555;
    }

    .prev-next-title {
        color:#000 !important;
    }

    .feedback-btns button, #feedbackArea .feedback-text {
        color: #000;
        border: solid 1px #000;
    }

    .feedback-btns button:hover {
        background-color: #000;
        color: #fff;
    }

    #feedbackArea .close-btn {
        color: #000;
    }
}

html[data-theme="dark"] {
    --pst-color-background: #000;
    --pst-color-on-background: #000;

    .feedback, footer .footer-item .copyright, footer .footer-item .copyright a {
        color:#BBBDBE;
    }

    .prev-next-title {
        color:#fff !important;
    }

    .feedback-btns button, #feedbackArea .feedback-text {
        color: #fff;
        border: solid 1px #fff;
    }

    .feedback-btns button:hover {
        background-color: #fff;
        color: #000;
    }

    #feedbackArea .close-btn {
        color: #fff;
    }
}